<section>
    <article data-opening-dtv="opening" class="opening"></article>
    <article>
        <header data-header-dtv="header"></header>

        <main ng-controller="matcherCtrl as vm">
            <section class="products" data-products-dtv="products"></section>
            <section class="matcher"  data-matcher-dtv="matcher"></section>
            <section class="recipes"  data-recipes-dtv="recipes"></section>
        </main>

        <footer data-footer-dtv="footer"></footer>
    </article>
</section>
