<article class='footer-contain'>
    <ul class="subject-social">
        <li class="logo linkedin-logo">
            <a href="https://www.linkedin.com/in/eddinezeroual" alt="linkedin">
                <img ng-src="img/icon/linkedin.svg" alt="linkedin icone">
            </a>
        </li>
        <li class="logo github-logo">
            <a href="https://github.com/apoplexe/fridge-meal" alt="github">
                <img ng-src="img/icon/github.svg" alt="github icone">
            </a>
        </li>
        <li class="logo instagram-logo">
            <a href="https://www.instagram.com/alpe_x/" alt="instagram">
                <img ng-src="img/icon/instagram.svg" alt="instagram icone">
            </a>
        </li>
    </ul>
</article>
