<article class='footer-contain'>
    <figure>
        <img src="#" alt="dev face">
        <figcaption>
            I hope u'll don't eat too much, if u do, join me by <a href="#">mail</a><br>U can follow me on <a href="https://github.com/apoplexe">GitHub</a>
        </figcaption>
    </figure>
    <ul class="subject-social">
        <li class="facebook-logo"><a href="#" alt="facebook"></a></li>
        <li class="instagram-logo"><a href="#" alt="instagram"></li>
        <li class="snapchat-logo"><a href="#" alt="snapchat"></li>
    </ul>
</article>
