<div class="base-main-contain" ng-controller="matcherCtrl as vm">
    <div class="base-main-matcher">
        <section class="products" data-products-dtv="products"></section>
        <div class="matcher-bottom-contain">
            <section class="matcher"  data-matcher-dtv="matcher"></section>
            <section ng-controller="recipeCtrl as rc" class="recipes"  data-recipes-dtv="recipes"></section>
        </div>
    </div>

    <div class="base-main-adder">
        <section class="adder"  data-adder-dtv="adder"></section>
    </div>
</div>
