header{
    height: 6vh;
    position: fixed;
    top: 0;
    width: 100vw;

    .header-contain{
        align-items: center;
        background: rgba(251, 97, 97, 0.75);
        color: white;
        display: flex;
        flex-direction: row;
        height: 100%;
        padding: 0 2%;

        .header-logo{
            font-family: $logo_font;
            font-size: 1.5em;
            margin: 1.5%;
        }

        .header-nav {
            align-items: center;
            display: flex;
            flex: 1 1 0%;
            justify-content: space-around;

            .burger-menu {
                cursor: pointer;
                margin-right: 3%;
                position: absolute;
                right: 0;
            }
            .header-nav-link {
                display: flex;
                justify-content: flex-end;
                margin: auto;
                width: 100%;

                li{
                    font-size: 1em;
                    list-style: none;
                    padding-left: 2%;
                    text-transform: capitalize;
                }
            }
        }

    }
}
