.header-contain{
    align-items: center;
    display: flex;
    padding: 3%;
    height: 5vh;
    color: white;
    flex-direction: row;
    background: rgba(251, 97, 97, 0.75);

    .header-logo{
        font-size: 1em;
        margin: 1.5%;
        text-transform: uppercase;
    }

    .header-nav {
        align-items: center;
        display: flex;
        flex: 1 1 0%;
        justify-content: space-around;
    }

    .header-nav-link {
        display: flex;
        justify-content: flex-end;
        margin: auto;
        width: 100%;

        li{
            padding-left: 2%;
            font-size: 1em;
            list-style: none;
            text-transform: capitalize;
        }
    }

}
