.base-main-contain{
    font-family: $main_font;

    ::-webkit-scrollbar-thumb{
        width: 0px;
        height: 0px;
        background:transparent;
    }
    ::-webkit-scrollbar-track{
        width: 0px;
        height: 0px;
        background:transparent;
    }
    ::-webkit-scrollbar{
        width: 0px;
        height: 0px;
        background:transparent;
    }
    .base-main-matcher{
        margin: 0 0 2% 0;
        height: 96vh;

        h3{
            color: #009FD6;
            text-transform: capitalize;
            font-size: 1.5em;
            text-align: center;
        }
        .products {
            background: rgba(250, 235, 215, 0.82);
            overflow: scroll;
            height: 6vh;

            .products-section{
                align-items: center;
                list-style: none;
                width: 100%;
                height: 100%;
                display: flex;

                .product-categories-contain{
                    display: flex;
                    justify-content: space-around;
                    font-size: 1.1em;
                    text-transform: capitalize;
                    text-align: center;
                    width: 35%;
                    cursor: pointer;

                    .product-categories{
                        color: rgb(255, 100, 107);
                    }
                    .next-panel{
                        color: rgb(242, 129, 134);
                    }
                    .next-panel:hover{
                        color: rgba(242, 129, 134, 0.4);
                    }
                    .previous-panel{
                        color: rgb(242, 129, 134);
                    }
                    .previous-panel:hover{
                        color: rgba(242, 129, 134, 0.4);
                    }
                }
                .products-zone-contain{
                    width: 65%;
                    height: 100%;

                    .products-zone{
                        display: flex;
                        height: 100%;

                        .product{
                            width: 10%;
                            height: 100%;
                            margin-right: 5%;
                            cursor: pointer;

                            img{
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
        .matcher-bottom-contain{
            display: flex;
            justify-content: flex-start;
            margin: 3% 0 0 0;
            height: 75vh;

            // ul{
            //     padding: 2% 4% 4% 4%;
            // }

            .matcher {
                width: 40vw;
                border-right: rgba(186, 159, 160, 0.21176470588235294) 1px solid;

                .matcher-zone{
                    overflow: hidden;
                    text-align: center;
                    height: 100%;

                    .matcher-products{
                        display: flex;
                        height: 50%;
                        flex-wrap: wrap;

                        .match{
                            width: 100%;
                            padding: 1%;
                            text-align: center;
                            align-self: baseline;
                            flex-basis: 25%;
                            cursor: pointer;
                        }
                    }
                    .matcher-machine{
                        padding: 0 10% 10% 10%;
                        height: 50%;
                    }
                }

            }
            .empty-recipe-contain{
                display: flex;
                justify-content: center;
                align-items: center;

                .empty-recipe {
                    text-align: center;
                    font-size: 1.4em;
                    color: rgb(242, 129, 134);
                    text-transform: capitalize;
                }
            }
            .recipes {
                width: 60vw;

                .recipe-list{
                    padding: 2% 2% 0 2%;
                    height: 100%;

                    .recipe-filter-list {
                        display: flex;
                        justify-content: space-around;
                    }
                    .recipe-item{
                        text-align: center;

                        .switch-recipe-panel {
                            display: flex;
                            justify-content: space-around;

                            span {
                                display: flex;
                                font-size: 1.4em;
                                line-height: 1.5;
                                cursor: pointer;
                            }
                            img{
                                cursor: pointer;
                            }
                            .switch-recipe {
                                color: rgba(242, 129, 134, 0.4);
                                font-weight: 600;
                            }
                            .switch-recipe:hover{
                                color: rgb(242, 129, 134);
                            }
                            .close-recipe {
                                color: rgba(199, 68, 105, 0.4);
                                font-weight: 600;
                            }
                            .close-recipe:hover {
                                color: rgb(199, 68, 105);
                            }
                            .add-favorite-recipe {
                                color: rgba(199, 68, 105, 0.4);
                                font-weight: 600;
                            }
                            .add-favorite-recipe:hover {
                                color: rgb(199, 68, 105);
                            }
                        }
                        .recipe-name{
                            text-transform: capitalize;
                            font-size: 1.2em;
                            font-weight: 100;
                            color: rgb(242, 129, 134);
                            margin: 3% 0 2% 0;
                        }
                        .step-list{
                            overflow: scroll;

                            .step-item-active::before{
                                content: '';
                                background: url(/img/icon/check.svg);
                                background-size: cover;
                                background-repeat: no-repeat;
                                top: 12px;
                                left: 0;
                                position: absolute;
                                width: 10px;
                                height: 10px;
                            }
                            .step-item {
                                font-size: 1em;
                                text-align: start;
                                text-transform: capitalize;
                                line-height: 2.1;
                                padding: 0 0 0 7%;
                                margin-bottom: 1%;
                                position: relative;
                                color: rgb(62, 56, 56);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
    .base-main-adder{
        background: rgba(117, 191, 210, 0.62);

        .form-adder-contain{
            padding: 2% 0 0 0;
        }
    }
}
