.basket{
    background: #f06062;
    color: #fff;
    font-size: 1.75em;
    height: 57vh;
    line-height: 1.5;
    padding: 0.5em;
    text-transform: capitalize;
    width: 10vw;

    &-list{

        &-item{
        }
    }
}
