.main{
    font-size: 1.2em;
    padding: 2px;
    font-variant: small-caps;
    width: 100%;
    text-align: center;
    overflow: overlay;
    
}
li{
    list-style-type: none;
}
h1{
    text-align: center;
    font-family: monospace;
    font-variant: small-caps;
    font-size: 2.5em;
}
.maker{
    min-width: 50%;
}
footer{
    clear: both;
    text-align: center;
}
#dropper {
    height: 15em;
    border: 1px solid #aaaaaa;
    margin-top: 3.35em;
}
ul{
	padding: 20px;
    border: 1px solid black;
}
.over{
    background-color: red;
}